# Tidy Data

## Exercises

#### Do your work for this exercise in a jupyter notebook or python script named tidy_data. Save this work in your classification-exercises repo. Add, commit, and push your changes.

##### 1. Attendance Data

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:


    name
    Billy    0.5250
    Jane     0.6875
    John     0.9125
    Sally    0.7625
    Name: grade, dtype: float64

In [3]:
import pandas as pd 
import os
from pydataset import data

In [16]:
df_attendance = pd.read_csv('attendance.csv').T
df_attendance

                0     1      2     3
Unnamed: 0  Sally  Jane  Billy  John
1/1/18          P     A      A     P
1/2/18          T     P      T     T
1/3/18          T     T      A     H
1/4/18          H     T      A     P
1/5/18          P     T      H     P
1/6/18          A     T      T     T
1/7/18          T     A      P     P
1/8/18          T     T      T     P

In [15]:
data(df_attendance, show_doc=True)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

##### 2. Coffee Levels

2a. Read the coffee_levels table.

2b. Transform the data so that each carafe is in it's own column.

2c. Is this the best shape for the data?

###### 3. Cake Recipes

3a. Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

3b. Tidy the data as necessary.

3c. Which recipe, on average, is the best? **recipe b**

3d. Which oven temperature, on average, produces the best results? **275**

3e. Which combination of recipe, rack position, and temperature gives the best result? **recipe b, bottom rack, 300 degrees**

**Bonus:** explore the other tables in the tidy_data database and reshape them as necessary so that they are in a tidy format.